* {
    background: #000000;
    color: #ffffff;
  }
  
body {
    font: 14px 'Segoe UI', Tahoma, Verdana, sans-serif;
}

line {
    display: block;
}

.block {
    font-size: 12px;
    text-align: left;
    margin-left:120px auto;
    margin-right:120px auto;
    max-width: 682px;
}

.sblock {
    font-size: 12px;
    text-align: left;
    margin-left:120px auto;
    margin-right:120px auto;
    max-width: 354px;
}

.border {
    width: 682px auto;
    margin: auto;
    border-top: dashed 0px;
    border-bottom: dashed 1px;
    border-color: #cacaca;
    overflow: hidden;
}


.bordervr {
  border-left: 1px dashed #cacaca;
  border-right: 1px dashed #cacaca;
  height: auto;
}


a:hover {
    color: #808080;
}


@media 
/* Small Screens */
only screen and (max-width: 500px),
/* Medium Screens */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.notnow { display: none; }
}

/* Tree */
ul, #tree {
    list-style-type: none;
  }
  
  #tree {
    padding: 0;
  }
  
  .caret {
    cursor: pointer;
    user-select: none;
  }
  
  .caret::before {
    content: "\002B";
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
      content: "\2212";  
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }