* {
    background: #1b1b1b;
    color: #ffffff;
  }
  
  body {
      font: 14px 'Segoe UI', Tahoma, Verdana, sans-serif;
  }

#donotcopy {
    font-size: 12px;
    position: absolute;
    bottom: 8px;
    left: 8px;
}