* {
    background: #1b1b1b;
    color: #ffffff;
  }
  
  body {
      font: 14px 'Segoe UI', Tahoma, Verdana, sans-serif;
  }

#donotcopy {
    font-size: 12px;
    position: absolute;
    bottom: 8px;
    left: 8px;
}

#name {
    font: 128px 'aihet_script_personal_use';
    color: #910e0f;
    text-align: center;
}

#error404 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

@font-face {
    font-family: 'aihet_script_personal_use';
    src: url('font-1.woff2') format('woff2'),
         url('font-1.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}